{# --------- VERSION 1 ------------- #}
<section id="logoAndNav" class="v1 relative bg-white">
	<div class="max-w-screen-xl px-4 mx-auto xl:px-0">
		<!-- Nav -->
		<div class="flex flex-row items-center py-4 z-20">
			<!-- Logo -->
			<div class="logo-wrapper mr-auto order-1 lg:mr-0">
				<a href="{{ site.link }}">
					{% include 'partial/logo.twig' %}
				</a>
			</div>
			<!-- End Logo -->

			<a href="{{global.topbar.button.url}}" class="btn order-2 !py-2 btn-secondary ml-auto mr-5 lg:ml-0 lg:mr-0 lg:order-3"><img
				class="injectable inline-block w-4 h-4 object-contain fill-inherit"
				src="{{ global.topbar.mobile_icon.url}}" title="{{ topbar.mobile_icon.title }}"
				alt="{{ topbar.mobile_icon.alt }}"><span
				class="hidden ml-2 md:inline-block">{{global.topbar.button.title }}</span></a>
			
			<div class="flex flex-row order-3 mx-0 lg:flex-col z-10 lg:pr-0 lg:mx-auto lg:order-2">

				<div class="flex flex-row lg:flex-col items-center z-10 mr-auto lg:pr-0">
					<div class="mobile-menu v1 inline-block lg:hidden">
						{% include 'partial/mobile-menu.twig'%}
					</div>
					<!-- Navigation -->
					<div class="desktop-menu v1 text-secondary hidden lg:inline-block ">
						{% include 'partial/menu.twig'%}
					</div>
					<!-- End Navigation -->
				</div>
				<!-- End Navigation -->
			</div>

			{% if global.header.button %}
			<a href="{{global.header.button.url}}" class="btn mx-auto xs:mr-0 {{global.header.button_version}}"><img
					class="injectable inline-block w-10 h-6 object-contain fill-inherit"
					src="{{ global.header.mobile_icon.url}}" title="{{ global.header.mobile_icon.title }}"
					alt="{{ globalheader.mobile_icon.alt }}"><span
					class="hidden ml-2 md:inline-block">{{global.header.button.title }}</span></a>
			{% endif %}

		</div>
		<!-- End Nav -->
	</div>
</section>