{# This file demonstrates using most of the index.twig template and modifying
just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}

	{# Showing posts archive #}
	{% if posts|length > 0 %}

		{% if post_cat[0].cat_name == title %}
			<section class="firebase-category-content-left w-full mx-auto {% if fields.pagepicker.light_verstion %}light-version{% endif %}">
				<div class="container mx-auto py-[80px] flex flex-row flex-wrap">
					{% for post in posts %}
						{% set link = fn('get_permalink', post.ID) %}
						{% set meta = fn('get_term_meta', cat.term_id, 'picture' ) %}
						<article class="w-full lg:w-4/12 flex text-center lg:text-left p-4" data-aos="fade-up" data-aos-offset="-250" data-aos-delay="{{loop.index}}50" data-aos-duration="2*{{loop.index}}50" data-aos-once="true">
							<div class="bg-[#F3F9FF] p-6">

								<a href="{{ link }}">
									<h3 class='text-2xl font-tagline text-primary mb-4 px-8 hover:text-secondary'>{{ post.post_title }}
									</h3>
								</a>
								<p class="font-body text-grayt px-8">{{ post.post_excerpt }}</p>
								<div class="button-wrapper text-primary fill-primary hover:text-sky-800 hover:fill-sky-800 px-8">
									<a class='btn-link__primary font-tagline flex justify-center lg:justify-start items-center pb-8 ' href="{{ link }}">READ MORE
										<img src="{{ site.theme.link }}/images/icons/arrow-right.svg" class="injectable w-4 h-4 fill-inherit ml-2 inline-block" title="Arrow Right" alt="Arrow Right"></a>
								</div>
							</div>
						</article>
					{% endfor %}
				</div>
			</section>


		{% endif %}
	{% elseif posts|length == 0 and categories == 0 %}
		<div class="section px-10 py-[80px] mb-10">
			<h2 class="text-4xl font-light mb-4">Unfortunately no match was found.... try again!</h2>
		</div>
	{% endif %}


{% endblock %}
